MATRIX_LIB_OBJS=			\
$(MATRIX_LIB_DIR)/print_matrix.o	\
$(MATRIX_LIB_DIR)/print_vector.o	\
$(MATRIX_LIB_DIR)/init_rand_matrix.o	\
$(MATRIX_LIB_DIR)/init_rand_vector.o	\
$(MATRIX_LIB_DIR)/swaps.o		\
$(MATRIX_LIB_DIR)/copy_matrix.o		\
$(MATRIX_LIB_DIR)/copy_vector.o		\
$(MATRIX_LIB_DIR)/get_laplace_determinant.o\
